<h1>Password Generator</h1>

<div>
  <label>Enter lenght</label>
  <input #box (keyup)="onInputLength(box.value)"/>
</div>

<div>
  <label>Use Letters</label>
  <input (change)="onChangeUseLetters()" type = "checkbox">
</div>

<div>
  <label>Use numbers</label>
  <input (change)="onChangeUseNumbers()" type = "checkbox">
</div>

<div>
  <label>Use symbols</label>
  <input (change)="onChangeUseSymbols()" type = "checkbox">
</div>

<div>
  <button 
  [disabled]="!(length && (useLetters || useNumbers || useSymbols))" (click)="onButtonClick()">Generate :)</button>
</div>

<div>
  <label>Your password</label>
  <input [value]="password"/>
</div>